logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
typings/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

database/data

uploads/**/*
!app/public/**/*
!typings/app/io