.content-title-right {
  .select-date {
    margin-right: 20px;
    color: rgb(22, 155, 213);
    cursor: pointer;
  }
}

#erroroview-chart {
  min-height: 320px;
  max-height: 500px;
  margin-bottom: 40px;
}
